<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OdooCredit">
  <test name="TestOne">
  <classes>
  
  <class name = "com.aspireapp.odoo.tests.LoginPageTest"/>
  <class name = "com.aspireapp.odoo.tests.ProductPageTest"/>
  
  </classes>
  
  
  
  </test>
   <!-- Test -->
</suite>
 <!-- Suite -->
